body {
  text-align: center;
  background-color: #7F5283;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}
dialog{
  display: inline-block;
  height: 500px;
  width: 600px;
  border: 15px solid black;
  border-radius: 20%;
}
.concept{
  margin: 10% 15%;
  font-family: 'Press Start 2P';
  font-size: 1rem;
}
.instruction {
  font-family: 'Press Start 2P';
  background-color: #FEF2BF;
  border: inline;
  border-width: thick;
  color: #7F5283;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 3px;
  border-radius: 50%;
}
.closeInstruction{
  border: inline;
  border-width: thick;
  padding: 8px;
  text-align: center;
  font-size: 1.5rem;
  margin: 20%;
  height: 50px;
  width: 50px;
  border-radius: 50%;

}
.instruct{
  text-align: right;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #D61C4E;
}

.green {
  background-color: #3CCF4E;
}

.blue {
  background-color: #0096FF;
}

.yellow {
  background-color: #FFF80A;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
footer{
  padding-top: 5%;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8rem;
  margin:  5%;
  color: #FEF2BF;
}
